.fav_page {
  margin-top: 60px;
  padding: 30px 40px;
}

.fav_items_holder {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fp_page_title {
  margin-bottom: 30px;
}

.fp_title {
  font-size: 18px;
  font-weight: semi-bold;
}

.fp_content {
  padding: 10px 0;
}

.fp_card_cover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex;
  justify-content: space-around; */
  margin-bottom: 30px;
}
.fp_card {
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 3;
  /* width: 80%; */
  position: relative;
  border-radius: 5px;
  display: flex;
  background: rgba(174, 239, 255, 0.592);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.171);
}

.fp_img_cover {
  border-radius: 5px 0 0 5px;
  padding: 10px;
  margin-right: 15px;
  background-color: rgb(255, 255, 255);
}

.fp_img {
  mix-blend-mode: multiply;
  width: 150px;
  height: 150px;
}

.fp_price {
  /* font-weight: bold; */
  font-size: 18px;
}
.fp_date {
  color: #776969;
  position: absolute;
  right: 10px;
  bottom: -20px;
}

.fp_btn_cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.add_to_cart_fav,
.remove_fav {
  position: absolute;
  bottom: 10px;
  padding: 3px 5px;
  background-color: rgb(249, 186, 103);
  border-radius: 5px;
}

.add_to_cart_fav {
  left: 180px;
}
.remove_fav {
  right: 10px;
}

@media screen and (max-width: 1000px) {
  .fav_page {
    padding: 30px 100px;
  }
  .fp_card_cover {
    justify-content: space-between;
  }
  .fav_items_holder {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .fav_page {
    padding: 30px 20px;
  }

  .fp_card_cover {
    justify-content: space-between;
  }

  .fp_img {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 650px) {
  .fp_card_cover {
    display: flex;
    position: relative;
  }

  .fp_card {
    width: 100%;
  }
  .fp_img_cover {
    padding: 40px 20px;
  }
  .fp_btn_cover {
    left: 0;
    height: 100%;
    display: block;
    position: absolute;
  }
}
