.fav_page {
  margin-top: 60px;
  padding: 30px 100px;
}

.fp_page_title {
  margin-bottom: 30px;
}
.fp_content {
  padding: 10px 0;
}

.fp_card_cover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex;
  justify-content: space-around; */
  margin-bottom: 30px;
}
.fp_card {
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 3;
  /* width: 80%; */
  position: relative;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  background-color: #e5fffa;
}

.fp_img_cover {
  border-radius: 5px 0 0 5px;
  padding: 10px;
  margin-right: 15px;
  background-color: rgb(255, 255, 255);
}

.fp_img {
  mix-blend-mode: multiply;
  width: 150px;
  height: 150px;
}

.fp_title {
  font-size: 24px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.fp_price {
  /* font-weight: bold; */
  font-size: 20px;
}

.fp_date {
  color: #776969;
  position: absolute;
  right: 10px;
  bottom: -20px;
}

.fp_btn_cover {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .fav_page {
    padding: 30px 50px;
  }
  .fp_card_cover {
    justify-content: space-between;
  }
  .fp_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .fav_page {
    padding: 30px 20px;
  }
  .fp_card_cover {
    justify-content: space-between;
  }

  .fp_img {
    width: 130px;
    height: 130px;
  }
  .fp_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 650px) {
  .fp_card_cover {
    display: flex;
    position: relative;
  }
  .fp_card {
    width: 100%;
  }
  .fp_img_cover {
    padding: 40px 20px;
  }
  .fp_btn_cover {
    left: 0;
    height: 100%;
    display: block;
    position: absolute;
  }
}
