.products_page {
  margin-top: 60px;
}
.products_holder {
  position: relative;
  padding: 0px 60px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(2, 1fr);
}

.discount {
  background: linear-gradient(
    rgba(255, 0, 166, 0.464),
    rgba(255, 238, 0, 0.492)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  padding: 0 40px;
  display: none;
}

.discount_sec1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.discount_text {
  font-weight: 600;

  margin: 0 0 30px 0;
  font-size: 52px;
}

.cloth_img {
  width: 300px;
  height: 240px;
}

.search_filter {
  position: relative;
  padding: 0 20px;
  margin-top: -30px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop_now_btn {
  display: unset;
  border-radius: 5px;
  color: white;
  width: 110px;
  height: 35px;
  background-color: rgb(4, 39, 57);
}

@media screen and (max-width: 1100px) {
  .products_holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .discount_text {
    font-size: 32px;
  }
  .cloth_img {
    width: 230px;
    height: 190px;
  }
}

@media screen and (max-width: 700px) {
  .discount_text {
    font-size: 32px;
  }
  .cloth_img {
    width: 230px;
    height: 190px;
  }
}
@media screen and (max-width: 750px) {
  .discount_text {
    font-size: 28px;
  }
  .cloth_img {
    width: 230px;
    height: 190px;
  }
}
@media screen and (max-width: 500px) {
  .search_filter {
    margin-top: 0px;
    padding: 0 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
