.cat_holder {
  padding: 5px 10px;
  border: 2px solid black;
  background-color: rgb(29, 17, 70);
  border-left: none;
  border-right: none;
  display: flex;
  color: white;
  font-weight: bold;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 20px; */
}

.cat_btn {
  margin-bottom: -10px;

  /* height: 50px;
  display: flex;
  border-radius: 50%; */
  border: none;
  background-color: transparent;
}

.cat {
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .cat_name {
  font-weight: bold;
  margin-top: 11px;
} */

.cat_name::first-letter {
  text-transform: uppercase;
}

.cat_img_cover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: -4px 0 0 -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat_img {
  width: 35px;
  height: 35px;
  mix-blend-mode: multiply;
}

.img_spc {
  width: 50px;
  height: 50px;
}
