.filters {
  margin-top: 20px;
}
.custom_width_dp {
  width: 160px;
}

.option {
  margin-left: 20px;
  display: flex;
}

@media screen and (max-width: 650px) {
  .filters {
    position: absolute;
    right: 0;
    top: -25px;
  }
}
