.filters {
/*   margin-top: 20px; */
}
.custom_width_dp {
  width: 160px;
}

.option {
  margin-left: 20px;
  display: flex;
}

@media screen and (max-width: 500px) {
  .filters {
    margin-top: 10px;
    align-self: flex-end;
  }
}
