.pagenos {
  margin: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagenos_holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 400px; */
}

.pageno {
  margin: 0 10px;
  background-color: rgb(153, 225, 254);
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.clicked {
  background-color: rgb(249, 225, 255);
}
