.cust_btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.cust_btn1 {
  background-color: red;
}

.cust_btn:disabled {
  background-color: rgb(128, 128, 128);
}

.large {
  font-size: large;
  padding: 5px 10px;
  /* width: 150px; */
  /* height: 48px; */
}

.special {
  width: 100px;
  height: 40px;
  background: linear-gradient(black, gray);
}
.address_sub_btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.back_btn {
  position: absolute;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  top: 65px;
  border-radius: 0 0 0 5px;
  right: 0;
  font-weight: bold;
}

.nav_back {
  width: 25px;
  height: 25px;
}

.home_nav_btn {
  font-weight: bold;
  background-color: rgb(10, 10, 207);
}

.medium {
  padding: 5px 10px;
  /* width: 100px;
  height: 38px; */
}

.small {
  padding: 5px 10px;
  /* width: 80px;
  height: 30px; */
}

.lg_btn {
  position: relative;
  margin-top: 90%;
  right: -35%;
}

@media screen and (max-width: 1000px) {
  .large {
    font-size: 16px;

    width: 110px;
    height: 40px;
  }
  .medium {
    height: 32px;
  }
}
@media screen and (max-width: 650px) {
  .custStyle1 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .large {
    height: 30px;
  }
  .custStyle2 {
    position: absolute;
    top: 0;
  }
}
